apiVersion: v1
kind: Secret
metadata:
  name: ddns-updater-secret
  namespace: ddns-updater
stringData:
  # Cloudflare Secrets
  # CLOUDFLARE_TOKEN: abcdef12345

  # NoIP Secrets
  # NOIP_EMAIL: "john@example.com"
  # NOIP_PASSWORD: "password12345"

  # Dynu Secrets
  # DYNU_USERNAME: "john.doe"
  # DYNU_PASSWORD: "password12345"